<div
  data-v-0bd92c0a=""
  class="flex flex-wrap justify-end -mx-4 font-semibold tracking-wide leading-6 text-left cursor-pointer text-neutral-600"
>
  <div
    data-v-0bd92c0a=""
    class="relative px-4 w-full tracking-wide text-left md:flex-shrink-0 md:flex-grow-0 md:basis-1/2"
  >
    <div
      data-v-0bd92c0a=""
      class="absolute top-0 left-0 z-0 w-full h-full leading-6 bg-red-800 text-neutral-600"
      style='background: rgb(150, 43, 37); content: " "; box-shadow: rgba(0, 0, 0, 0.62) -10px 2px 34px 0px;'
    >
      <div
        data-v-0bd92c0a=""
        class="flex relative flex-col py-5 px-0 h-full text-left basis-full"
        style="z-index: 4;"
      >
        <div
          data-v-0bd92c0a=""
          class="inline-block absolute right-0 flex-auto py-2 px-3 mr-5 mb-0 ml-0 -mt-5 text-base uppercase bg-gray-800 text-stone-300"
        >
          <h6
            data-v-0bd92c0a=""
            class="m-0 text-sm font-bold leading-4 uppercase"
          >
            <span data-v-0bd92c0a="" class="text-xs leading-3 uppercase"></span>
            Upcoming Auction
          </h6>
        </div>
        <div
          data-v-0bd92c0a=""
          class="visible flex-auto py-1 px-0 text-center md:pt-0"
          style="visibility: visible;"
        >
          <h6
            data-v-0bd92c0a=""
            class="pb-2 mx-auto mt-8 mb-2 w-4/5 h-5 text-sm font-bold leading-4 text-white border-b border-white border-solid opacity-40"
          >
            Organized by
          </h6>
          <img
            data-v-0bd92c0a=""
            src="https://horse24-medias.s3.amazonaws.com/horse24/sites/64/WESTF_Logo_whithe.png"
            height="30"
            alt="74th Online Auction - Youngsterlogo"
            class="align-middle border-none"
            style="max-width: 80%;"
          />
          <!---->
        </div>
        <div
          data-v-0bd92c0a=""
          class="flex-auto my-6 mr-0 -ml-5 uppercase lg:mt-1 lg:mr-0 lg:mb-3 lg:-ml-3 sm:mt-2"
        >
          <div
            class="flex relative py-2 px-3 uppercase bg-white lg:px-3 lg:py-2 text-stone-500 sm:px-4 sm:py-3 xl:px-8 xl:py-2"
          >
            <h6
              class="flex-auto self-center my-0 w-1/4 text-xs font-bold leading-4 text-right text-gray-800 uppercase"
              style="z-index: 2; min-width: 50px; margin-right: 4%;"
            >
              Starts at
            </h6>
            <h6
              class="flex-auto self-center my-0 w-32 text-xs font-bold leading-4 uppercase lg:w-32"
              style="z-index: 2;"
            >
              <span
                class="inline-block mr-2 h-full not-italic font-normal leading-none normal-case"
                style="speak: none; font-variant: normal; font-family: horse24Icons; font-size: 11px;"
              ></span>
              November 9, 2023
            </h6>
            <h6
              class="flex-auto self-center my-0 text-xs font-bold leading-4 uppercase"
              style="z-index: 2;"
            >
              <span
                class="inline-block mr-2 h-full not-italic font-normal leading-none normal-case"
                style="speak: none; font-variant: normal; font-family: horse24Icons; font-size: 11px;"
              ></span>
              09:00
            </h6>
          </div>
          <div
            class="flex relative py-2 px-3 -mt-px uppercase lg:px-3 lg:py-2 bg-neutral-100 text-stone-500 sm:px-4 sm:py-3 xl:px-8 xl:py-2"
          >
            <h6
              class="flex-auto self-center my-0 w-1/4 text-xs font-bold leading-4 text-right text-gray-800 uppercase"
              style="z-index: 2; min-width: 50px; margin-right: 4%;"
            >
              BidUp starts
            </h6>
            <h6
              class="flex-auto self-center my-0 w-32 text-xs font-bold leading-4 uppercase lg:w-32"
              style="z-index: 2;"
            >
              <span
                class="inline-block mr-2 h-full not-italic font-normal leading-none normal-case"
                style="speak: none; font-variant: normal; font-family: horse24Icons; font-size: 11px;"
              ></span>
              November 13, 2023
            </h6>
            <h6
              class="flex-auto self-center my-0 text-xs font-bold leading-4 uppercase"
              style="z-index: 2;"
            >
              <span
                class="inline-block mr-2 h-full not-italic font-normal leading-none normal-case"
                style="speak: none; font-variant: normal; font-family: horse24Icons; font-size: 11px;"
              ></span>
              19:30
            </h6>
          </div>
        </div>
        <div
          data-v-0bd92c0a=""
          id="countdown_311_container"
          class="relative flex-grow-0 flex-shrink justify-center mx-auto mb-4 -mt-4 w-5/6 text-center text-white uppercase lg:mb-5"
          style="flex-basis: 0%;"
        >
          <!---->
          <h5 class="pt-2 my-0 text-base font-bold uppercase">
            Auction Will Start At
          </h5>
          <div
            id="countdown_311"
            class="flex relative justify-center my-0 mx-auto w-full text-xl leading-8 uppercase xl:text-base"
            style="flex-flow: row;"
          >
            <div
              class="flex absolute bottom-0 left-0 flex-grow-0 flex-shrink-0 order-1 justify-center px-2 pt-1 pb-3 w-full font-sans uppercase bg-inherit sm:px-2"
              data-label="DAYS"
              style="flex-flow: row; content: attr(data-label); font-size: 7.84px; z-index: 1;"
            >
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">0</span>
              </div>
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">2</span>
              </div>
            </div>
            <div
              class="flex absolute bottom-0 left-0 flex-grow-0 flex-shrink-0 order-2 justify-center px-2 pt-1 pb-3 w-full font-sans uppercase bg-inherit sm:px-2"
              data-label="HOURS"
              style="flex-flow: row; content: attr(data-label); font-size: 7.84px; z-index: 1;"
            >
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">1</span>
              </div>
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">9</span>
              </div>
            </div>
            <div
              class="flex absolute bottom-0 left-0 flex-grow-0 flex-shrink-0 order-3 justify-center px-2 pt-1 pb-3 w-full font-sans uppercase bg-inherit sm:px-2"
              data-label="MINS"
              style="flex-flow: row; content: attr(data-label); font-size: 7.84px; z-index: 1;"
            >
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">0</span>
              </div>
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">7</span>
              </div>
            </div>
            <div
              class="flex absolute bottom-0 left-0 flex-grow-0 flex-shrink-0 order-4 justify-center px-2 pt-1 pb-3 w-full font-sans uppercase bg-inherit sm:px-2"
              data-label="SECS"
              style="flex-flow: row; content: attr(data-label); font-size: 7.84px; z-index: 1;"
            >
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">4</span>
              </div>
              <div
                class="block overflow-hidden relative p-0 text-2xl leading-none uppercase"
              >
                <span class="invisible uppercase">0</span
                ><span class="block absolute top-0 left-0 uppercase">7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
